<footer class="extra-footer">
    <div class="container">
        <div class="col-sm-9">
            <div class="row wrapperFooterHome">
                <div class="col-sm-4 wrapperSeccionEnlaces">
                    <div class="seccionEnlaces">
                        <h4 class="tituloSeccion">Conoce Endesa</h4>
                        <ul class="listado">
                            <li>
                                <a class="textSmaller" href="#" title="Nuestro negocio">Nuestro negocio</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Principales magnitudes">Principales magnitudes</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Endesa en el mundo">Endesa en el mundo</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Proyectos relevantes">Proyectos relevantes</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wrapperSeccionEnlaces">
                    <div class="seccionEnlaces">
                        <h4 class="tituloSeccion">Clientes</h4>
                        <ul class="listado">
                            <li>
                                <a class="textSmaller" href="#" title="Informe financiero">Acceso para clientes</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Gobierno corporativo">Defensor del cliente</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Oficina del accionista">Compromiso con nuestros clientes</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wrapperSeccionEnlaces">
                    <div class="seccionEnlaces">
                        <h4 class="tituloSeccion">Prensa</h4>
                        <ul class="listado">
                            <li>
                                <a class="textSmaller" href="#" title="Notas de prensa">Notas de prensa</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Multimedia">Multimedia</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Centro documental">Centro documental</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Informes anuales">Informes anuales</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row wrapperFooterHome">
                <div class="col-sm-4 wrapperSeccionEnlaces">
                    <div class="seccionEnlaces">
                        <h4 class="tituloSeccion">Accionistas e inversores</h4>
                        <ul class="listado">
                            <li>
                                <a class="textSmaller" href="#" title="Informes financieros">Informes financieros</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Principales magnitudes">Gobierno corporativo</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Endesa en el mundo">oficina de accionistas</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Proyectos relevantes">Proyectos relevantes</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wrapperSeccionEnlaces">
                    <div class="seccionEnlaces">
                        <h4 class="tituloSeccion">Nuestro compromiso</h4>
                        <ul class="listado">
                            <li>
                                <a class="textSmaller" href="#" title="Cambio climático">Cambio climático</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Acción social">Acción social</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Biodiversidad">Biodiversidad</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Innovación">Innovación</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wrapperSeccionEnlaces">
                    <div class="seccionEnlaces">
                        <h4 class="tituloSeccion">Sitios endesa</h4>
                        <ul class="listado">
                            <li>
                                <a class="textSmaller" href="#" title="Endesa Educa">Endesa Educa</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Endesa Distribución">Endesa Distribución</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="Endesa Smart grids">Endesa Smart grids</a>
                            </li>
                            <li>
                                <a class="textSmaller" href="#" title="twenergy">twenergy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <ul class="footerDrops seccionEnlaces">
                <li>
                    <ul class="footer_lnk_block">
                        <li class="dropdown">
                            <h4 class="tituloSeccion desplegable">Endesa en el mundo</h4>
                            <ul class="dropdown_container listado">
                                <li><a class="enlace textSmaller" href="#" title="España y Portugal">España y Portugal</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Latinoamérica">Latinoamérica</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Chile">Chile</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Colombia">Colombia</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Brasil">Brasil</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <h4 class="tituloSeccion desplegable">Sitios endesa</h4>
                            <ul class="dropdown_container listado">
                                <li><a class="enlace textSmaller" href="#" title="Endesa Educa">Endesa Educa</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Endesa Distribucióon">Endesa Distribución</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Endesa Semart Grids">Endesa Semart Grids</a>
                                </li>
                                <li><a class="enlace textSmaller" href="#" title="Twenergy">Twenergy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="ban hidden-xs">
                    <a href="#" title="Patrocino FEB">
                        <img src="dol/static/images/banner.jpg" alt="Imagen Patrocino FEB">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>