.grafica{
  &.h200 svg{height: 200px;}
  &.h350 svg{height: 350px;}
}
.nvd3.nv-pie path{stroke-opacity: 0;}
.nvd3 .nv-axis path.domain {stroke-opacity: 0;}
.nvd3 .nv-axis .nv-axisMaxMin text{font-weight: normal;}
.nvd3 .nv-axis.nv-x line{stroke-opacity: 0;}
.nvd3 .nv-axis.nv-x text{font-family: $fontWeb01Regular; font-size: 12px; fill: #333;}
.nvd3 .nv-axis.nv-y text{font-family: $fontWeb01Regular; font-size: 11px; fill: #999;}
.nvd3 .nv-axis.nv-y text.nv-axislabel{fill: #333;}
.nvd3 .nv-axis.nv-y .nv-axis .tick:first-child line {stroke: #000;}
.nvd3 .nv-axis line{stroke: $borderColor1;}

.nvtooltip {
  background: transparent;
  padding: 0;
  border: 1px solid #c2c2c2;
  span{margin: 0;}
  .texto-grafica{
    background: #000;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    font-family: $fontWeb01Regular;
  }
  .valor-grafica{
    background: #fff;
    padding: 10px;
    font-size: 16px;
    color: #000;
    font-family: $fontWeb01Bold;
  }
}